﻿


@{
   // Layout = null;
}


@section CustomHead {
    <link rel="stylesheet" href="~/Assets/bootstrap.css">
}




    <div class="row">
        <div class="col-md-6 item" style="background-color:forestgreen">
            stuff
        </div>
        <div class="col-md-6 item" style="background-color:blue">
            mm<br />mm<br />
        </div>
    </div>


@section CustomBottom{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="~/Assets/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Assets/jquery.matchHeight-min.js"></script>

<script type="text/javascript">
        $(function () {
            alert("here");
            $('.item').matchHeight({
                byRow: 0
            });
        });

</script>
}


