﻿
@{

    // Layout = null;
}

@section CustomHead {
    <link rel="stylesheet" href="~/Assets/bootstrap.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Assets/Spinner.css" rel="stylesheet" />
}



@section CustomBottom{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="~/Assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/jquery.matchHeight-min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.item').matchHeight({
                byRow: 0
            });
        });

    </script>

  

        <script type="text/javascript">


        // Load the Visualization API and the piechart package.
        google.charts.load('current', {packages:['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var jsonData = $.ajax({
              url: "getData",
              dataType: "json",
              async: false
              }).responseText;

          // Create our data table out of JSON data loaded from server.
          var data = new google.visualization.DataTable(jsonData);

          var options = {
              hAxis: {
                  title: 'Time'
              },
              vAxis: {
                  title: 'Flow Rate (L/min)'
              },
              colors: ['#a52714', '#097138'],
              crosshair: {
                  color: '#000',
                  trigger: 'selection'
              },
          width: 400, height: 240
          };

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);

        }


        $(document).ready(function () {
            $(window).resize(function () {
                $("#NewDataVKP").click();
            });

            $("#NewDataVKP").click(function () {

                //overlay a spinner
                $("#plot-cover").removeClass("display-none");


                var bla = $('#numberOfBuckets').val();

                $.post("GetMathData", //getData   TestVKP
                {
                    Buckets: bla,
                    city: "Duckburg"
                },
                function (data, status) {

                    var graphData = JSON.parse(data);
                    var tdata = new google.visualization.DataTable();

                    for (var i = 0; i < graphData.DataColumns.length; i++) {
                        tdata.addColumn(graphData.DataColumns[i].Key, graphData.DataColumns[i].Value);
                    }

                    for (var i = 0; i < graphData.DataRows.length; i++) {
                        var rows = new Array();
                        rows[0] = graphData.DataRows[i].Key;
                        for (var j = 1; j <= graphData.DataRows[i].Value.length; j++) {
                            rows[j] = graphData.DataRows[i].Value[j-1]
                        }
                        tdata.addRow(rows);
                    }


                    var options = {
                        title: graphData.Options.title,
                        vAxis: { title: graphData.Options.vAxisTitle },
                        hAxis: { title: graphData.Options.hAxisTitle }, 
                        //seriesType: "bars",
                        height: 400,
                        vAxis: {minValue: 0},
                        curveType: 'function'
                    };


                    //ComboChart //LineChart
                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));

                    chart.setAction({
                        id: 'alertAction',
                        text: 'Trigger Alert',
                        action: function () {
                            alert("You have triggered an alert");
                        }
                    });

                    chart.draw(tdata, options);

                    //remove the spinner  --- just covers it spinner won;t go in middle
                   // $("#plot-cover").addClass("display-none");
                });
            });



        $("#NewData").click(function () {
            var bla = $('#exampleInputEmail1').val();

            $.post("getData", //getData
            {
                name: bla,
                city: "Duckburg"
            },
            function (jsonData, status) {

                var data = new google.visualization.DataTable(jsonData);

                var options = {
                    hAxis: {
                        title: 'Time'
                    },
                    vAxis: {
                        title: 'Flow Rate (L/min)'
                    },
                    colors: ['#a52714', '#097138'],
                    crosshair: {
                        color: '#000',
                        trigger: 'selection'
                    },
                    width: 400, height: 240
                };
                //ComboChart //LineChart
                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                chart.draw(data, options);

            });
        });


    });

        </script>

}



<div class="row">

    <!-- Plot Form -->
    <div class="col-md-8">
        <div class="panel panel-green margin-bottom-40" style="overflow-x: auto;">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Horizontal Form</h3>
            </div>
            <div class="panel-body item2">
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
    <!-- Plot Form -->
    <div class="col-md-4">
        <!-- Basic Form -->
        <div class="panel panel-blue margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Basic Form</h3>
            </div>
            <div class="panel-body item2">
                <form class="margin-bottom-20">
                    <div class="form-group">
                        <label for="numberOfBuckets">Number of buckets of data</label>
                        <input type="number" min="1" max="5" step="1" class="form-control" id="numberOfBuckets">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <button type="button" id="NewData" class="btn-u btn-u-blue">Submit</button>
                    <button type="button" id="NewDataVKP" class="btn-u btn-u-blue">UsingKVP</button>
                </form>
            </div>
        </div>
        <!-- End Basic Form -->
    </div>
    <!-- Plot Form2 -->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-green margin-bottom-40" style="overflow-x: auto;">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Horizontal Form</h3>
            </div>
            <div class="panel-body" style="position: relative;">                                  
                <div id="chart_div2"> </div>                  
                <div id="plot-cover" class="display-none" style="z-index: 10;position: absolute;background-color: #151715;top: 0;left: 0;width: 100%;height: 100%;opacity: 0.8"> 
                    <div class="loader"><i style="margin-left: -40px;margin-top: -40px;"  class="fa fa-spinner fa-pulse fa-5x fa-fw"></i></div>             
                </div>
            </div>
        </div>
        <!-- Plo Form2 -->
    </div>
</div>


<div class="row">
    <div class="col-md-6 item" style="background-color:forestgreen">
        stuff
    </div>
    <div class="col-md-6 item" style="background-color:blue">
        mm<br />mm<br />
    </div>
</div>



