﻿section {
    width: 200px;
    height: 200px;
    margin: 50px;
}
.overlay {
    width: 100%;
    height: 100%;
}
.overlay i {
    vertical-align:middle;
    text-align:center;
}
.spin-big {
    font-size: 50px;
    height: 50px;
    width: 50px;
 
}

.display-none{
    display: none;
}

.spin-normal {
    font-size: 35px;
    height: 35px;
    width: 35px;
}
.spin-small {
    font-size: 20px;
    height: 20px;
    width: 20px;
}


.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  /*
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
      */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
